@page "/"

<PageTitle>FlySight Webtool</PageTitle>

@using FlySightWebTool.Data
@using System.Text
@using Microsoft.JSInterop

@inject TrackService TrackService
@inject IJSRuntime JSRuntime

<div style="width:100%; height:calc(100vh - 370px);">
    <p>Track: <InputFile OnChange="HandleFileSelected" accept=".csv" /></p>
    @if (_track == null || _track.Data.Count == 0)
    {
        <p>@_message</p>
    }    
    <div id="plotlyChart" style="width:100%; height:95%;"></div>
</div>
<div style="display: flex; height: 340px;">
    <div style="flex: 1; padding: 10px; overflow-y: auto;">
        @if (_track == null || _track.Data.Count == 0)
        {            
            <h3>No data</h3>
            <table id="stats" class="table">
                <tbody>            
                    <tr>
                        <th>Exit</th>
                        <td></td>
                        <th>Landing</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Pitch</th>
                        <td></td>
                        <th>DZ Elevation offset</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Flight time</th>
                        <td></td>
                        <th>Total time</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Total speed (Max)</th>
                        <td></td>
                        <th>Total speed (Min)</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Ground speed (Max)</th>
                        <td></td>
                        <th>Track length</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Glide ratio (Max)</th>
                        <td></td>
                        <th>Glide ratio (Avg)</th>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <div style="display: flex; align-items: center;">
                <h3>@_track.TakeOffDateTime.ToString("HH:mm (d MMMM yyyy)")</h3>
                <div style="margin-left: auto;">
                    @_message
                </div>
            </div>
            <table id="stats" class="table">
                <tbody>
                    <tr>
                        <th>Exit
                            <div style="float: right;">
                                <button @onclick="() => AdjustFreefallTrimStart(-10)">-10</button>
                                <button @onclick="() => AdjustFreefallTrimStart(-1)">-1</button>
                                <button @onclick="() => AdjustFreefallTrimStart(1)">+1</button>
                                <button @onclick="() => AdjustFreefallTrimStart(10)">+10</button>
                            </div>
                        </th>
                        <td>@_track.ExitHeight.ToString("F0")m AGL at @_track.ExitDateTime.ToString("HH:mm:ss")</td>
                        <th>Landing</th>
                        <td>@_track.LandingTime.ToString("HH:mm:ss")</td>
                    </tr>
                    <tr>
                        <th>Pitch
                            <div style="float: right;">
                                <button @onclick="() => AdjustFreefallTrimEnd(-10)">-10</button>
                                <button @onclick="() => AdjustFreefallTrimEnd(-1)">-1</button>
                                <button @onclick="() => AdjustFreefallTrimEnd(1)">+1</button>
                                <button @onclick="() => AdjustFreefallTrimEnd(10)">+10</button>
                            </div>
                        </th>
                        <td>@_track.PitchHeight.ToString("F0")m AGL at @_track.PitchDateTime.ToString("HH:mm:ss")</td>
                        <th>DZ Elevation offset</th>
                        <td>@_track.DzAltitude.ToString("F0")m AMSL</td>
                    </tr>
                    <tr>
                        <th>Flight time</th>
                        <td>@_track.FreeFallTime.ToString("F0")s over @((_track.ExitAltitude - _track.PitchAltitude).ToString("F0"))m</td>
                        <th>Total time</th>
                        <td>@((_track.LandingTime - _track.TakeOffDateTime).TotalMinutes.ToString("F0"))min</td>
                    </tr>
                    <tr>
                        <th>Total speed (Max)</th>
                        <td>@_track.VelocityTotalMax.ToString("F0") km/h</td>
                        <th>Total speed (Min)</th>
                        <td>@_track.VelocityTotalMin.ToString("F0") km/h</td>
                    </tr>
                    <tr>
                        <th>Ground speed (Max)</th>
                        <td>@_track.VelocityGroundMax.ToString("F0") km/h</td>
                        <th>Track length</th>
                        <td>@_track.HorizontalDistance.ToString("F0") km</td>
                    </tr>
                    <tr>
                        <th>Glide ratio (Max)</th>
                        <td>@_track.GlideRatioMax.ToString("F1")</td>
                        <th>Glide ratio (Avg)</th>
                        <td>@(((_track.HorizontalDistance) / (_track.ExitAltitude - _track.PitchAltitude)).ToString("F1"))</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div style="flex: 1; padding: 10px; overflow-y: auto;">
        <div id="map" style="width:100%; height:100%;"></div>
    </div>
</div>