@page "/"

<PageTitle>FlySight Webtool</PageTitle>

@using FlySightWebTool.Data
@using System.Text
@using Microsoft.JSInterop

@inject TrackService TrackService
@inject IJSRuntime JSRuntime
<div style="width:100%; height:calc(100vh - 370px);">
    <p>Track: @message <InputFile OnChange="HandleFileSelected" accept=".csv" /></p>
    <div id="plotlyChart" style="width:100%; height:100%;"></div>
</div>
<div style="display: flex; height: 340px;">
    <div style="flex: 1; padding: 10px; overflow-y: auto;">
        @if (track == null)
        {            
            <h3>No data</h3>
            <table id="stats" class="table">
                <tbody>            
                    <tr>
                        <th>Exit</th>
                        <td></td>
                        <th>Landing</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Pitch</th>
                        <td></td>
                        <th>DZ Elevation offset</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Flight time</th>
                        <td></td>
                        <th>Total time</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Total speed (Max)</th>
                        <td></td>
                        <th>Total speed (Min)</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Ground speed (Max)</th>
                        <td></td>
                        <th>Track length</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Glide ratio (Max)</th>
                        <td></td>
                        <th>Glide ratio (Avg)</th>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <h3>@track.TakeOffDateTime.ToString("HH:mm (d MMMM yyyy)")</h3>
            <table id="stats" class="table">
                <tbody>            
                    <tr>
                        <th>Exit</th>
                        <td>@track.ExitHeight.ToString("F0")m AGL at @track.ExitDateTime.ToString("HH:mm")</td>
                        <th>Landing</th>
                        <td>@track.LandingTime.ToString("HH:mm")</td>
                    </tr>
                    <tr>
                        <th>Pitch</th>
                        <td>@track.PitchHeight.ToString("F0")m AGL at @track.PitchDateTime.ToString("HH:mm")</td>
                        <th>DZ Elevation offset</th>
                        <td>@track.DzAltitude.ToString("F0")m AMSL</td>
                    </tr>
                    <tr>
                        <th>Flight time</th>
                        <td>@track.FlightTime.ToString("F0")s over @((track.ExitAltitude - track.PitchAltitude).ToString("F0"))m</td>
                        <th>Total time</th>
                        <td>@((track.LandingTime - track.TakeOffDateTime).TotalMinutes.ToString("F0"))min</td>
                    </tr>
                    <tr>
                        <th>Total speed (Max)</th>
                        <td>@track.VelocityTotalMax.ToString("F0") km/h</td>
                        <th>Total speed (Min)</th>
                        <td>@track.VelocityTotalMin.ToString("F0") km/h</td>
                    </tr>
                    <tr>
                        <th>Ground speed (Max)</th>
                        <td>@track.VelocityGroundMax.ToString("F0") km/h</td>
                        <th>Track length</th>
                        <td>@track.HorizontalDistance.ToString("F0") km</td>
                    </tr>
                    <tr>
                        <th>Glide ratio (Max)</th>
                        <td>@track.GlideRatioMax.ToString("F1")</td>
                        <th>Glide ratio (Avg)</th>
                        <td>@(((track.HorizontalDistance) / (track.ExitAltitude - track.PitchAltitude)).ToString("F1"))</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div style="flex: 1; padding: 15px; overflow-y: auto;">
        <div id="map" style="width:100%; height:100%;"></div>
    </div>
</div>